@font-face {
  font-family: "Gravity";
  src: url("../fonts/Gravity-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gravity";
  src: url("../fonts/Gravity-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
  display: block;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
h1 {
  font-size: 20px;
  line-height: 1.2;
  margin: 20px 4px 19px;
}
button {
  cursor: pointer;
}
body {
  font-family: "Gravity", sans-serif;
  font-size: 13px;
  font-weight: normal;
  color: #292f37;
  font-stretch: normal;
  letter-spacing: normal;
  background-color: #f5f7fa;
  overflow-x: hidden;
  min-width: 320px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
header {
  background-color: #323a44;
  min-height: 52px;
}
main {
  max-width: 772px;
  margin: 0px auto;
}
footer {
  height: 56px;
  background-color: #323a44;
  color: #979ca9;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 21px 20px 19px;
}
nav {
  margin-right: 88px;
}
label {
  font-size: 12px;
  color: #979ca9;
  display: block;
  line-height: 1.33;
  margin-bottom: 5px;
}
textarea {
  resize: none;
}
select {
  color: #4c515c;
  height: 32px;
  border: solid 1px #cbcfd8;
  border-radius: 4px;
  cursor: pointer;
  line-height: 1.23;
  background: url("../img/arrow-select-gray-dark.svg") no-repeat right 11px
    center;
  padding: 6px 11px 9px;
  margin-bottom: 17px;
}
input[type="radio"],
input[type="checkbox"],
select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.bold {
  font-weight: bold;
}
.flex-center {
  display: flex;
  align-items: center;
}
.menu-burder {
  display: none;
}

.container {
  width: 100%;
  margin-left: -34px;
}
.header__content {
  max-width: 1280px;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 20px;
}
.header-nav__item {
  color: #cbcfd8;
  padding: 17px 23px 19px;
}
.header-nav__item:nth-child(1) {
  margin-right: 5px;
}
.header-nav__item:nth-child(4) {
  padding-right: 5px;
}
.notification-count {
  color: #fff;
  position: relative;
  left: 2px;
  bottom: 8px;
  font-size: 9px;
  text-align: center;
  background-color: #cf6662;
  border-radius: 2px;
  padding: 0 2px 1px;
}
.logo {
  margin-bottom: 11px;
}
.link-active {
  color: #fff;
  font-weight: bold;
  background: #292f37;
}
.user {
  gap: 12px;
  border: none;
  background-color: transparent;
}

.block-wrapper {
  background-color: #fff;
  border-radius: 8px;
  margin-bottom: 16px;
  padding: 12px 20px 20px;
}
.block-message {
  display: flex;
  gap: 12px;
  min-height: 81px;
}
.block-message img {
  width: 24px;
  height: 24px;
  margin-top: 2px;
}
.notification__title {
  font-size: 17px;
  padding-top: 3px;
  line-height: 1.29;
  margin-bottom: 8px;
}
.notification__text {
  color: #4c515c;
  line-height: 1.23;
}
.notification__text a {
  color: #4870b7;
}
.form__theme-email {
  min-height: 224px;
  padding-top: 13px;
}
.form__notifications-frequency {
  min-height: 146px;
  padding-top: 13px;
}
.form-notifications {
  display: flex;
  gap: 33px;
  margin: 7px 0 12px;
}
.form-notifications label {
  gap: 8px;
}
.block-title {
  font-size: 15px;
  line-height: 1.2;
  margin-bottom: 12px;
}
select[name="theme"] {
  width: 100%;
  background-color: #f6f6f7;
}
select[name="periodicity"] {
  width: 236px;
}
select[name="hour"],
select[name="minute"] {
  width: 112px;
  margin-right: 10px;
}
.block-email {
  display: flex;
  justify-content: space-between;
}
.block-email span {
  font-size: 12px;
  color: #979ca9;
  padding: 2px 1px 0 0;
}
textarea[name="email"] {
  width: 100%;
  border-radius: 4px;
  border: solid 1px #cbcfd8;
  height: 96px;
  padding: 7px 25px 7px 11px;
}
.form-notifications__radio-text,
textarea::placeholder {
  color: #4c515c;
}
input[type="radio"] {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  outline: none;
}
input[type="radio"]:not(:checked) {
  border: solid 1px #cbcfd8;
}
input[type="radio"]:checked {
  box-shadow: inset 0 0 0 1px #5b85ce, inset 0 0 0 4px #fff;
  background-color: #5b85ce;
}
input[type="radio"]::before {
  content: "";
  display: inline-block;
}
.form-notifications__radio-text {
  font-size: 13px;
  line-height: 1.23;
}
.form-frequency__time {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}
.form-frequency__time div select {
  margin-bottom: 0;
}
.form__format {
  min-height: 264px;
  padding-top: 12px;
}
.form__format-input {
  max-width: 484px;
  width: 100%;
  height: 32px;
  color: #4c515c;
  line-height: 1.23;
  border-radius: 4px;
  border: solid 1px #cbcfd8;
  padding: 7px 11px 9px;
}
.form__format-input:first-of-type {
  margin-bottom: 18px;
}
.format-selector {
  display: flex;
  gap: 11px;
  flex-wrap: wrap;
  margin-bottom: 12px;
}
.format-input {
  display: none;
}
.format-option {
  flex-direction: row;
  gap: 12px;
  color: #4c515c;
  font-size: 13px;
  line-height: 1.23;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding: 8px 21px 8px 8px;
}
.format-input:checked + .format-option {
  background-color: #d8e4f9;
  border-radius: 4px;
}
#subtitle {
  margin-top: -1px;
}
.form__data-filter {
  min-height: 88px;
}
.filter-block {
  flex-direction: row;
  flex-wrap: wrap;
  gap: 12px;
  margin-left: -1px;
}
.filter-block label {
  font-size: 12px;
  color: #4870b7;
  cursor: pointer;
  line-height: 1.33;
  margin: 0 1px;
}
label[for="filters"] {
  margin-left: 3px;
}
.filter-block input[type="radio"] {
  display: none;
}
.filter-block input[type="radio"]:checked + label {
  background-color: #5b85ce;
  color: #fff;
  border-radius: 11px;
  padding: 3px 10px 3px;
}
label[for="tags"] {
  margin-right: 10px;
}
.form__data-language {
  min-height: 262px;
}
.form__data-language p {
  margin-top: 1px;
}
.data-composition {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 19px;
  margin: 15px 0 14px;
}
.data-composition div {
  display: flex;
  flex-direction: column;
}
.language-selection label {
  margin-bottom: 6px;
}
.language-selection__items {
  display: flex;
  gap: 25px;
}
.language-selection__items label {
  gap: 8px;
  margin-bottom: 0;
}
.language-selection__items span {
  font-size: 13px;
  line-height: 1.23;
  color: #4c515c;
}
.items:nth-child(2) {
  margin-right: 83px;
}
.items label {
  display: flex;
  align-items: center;
  font-size: 13px;
  color: #4c515c;
  margin-bottom: 12px;
}
.items label span {
  line-height: 1.23;
}
.items label input {
  margin-right: 10px;
}
.items input[type="checkbox"] {
  width: 16px;
  height: 16px;
}
.items input[type="checkbox"]:not(:checked) {
  border: solid 1px #babdc7;
  border-radius: 2px;
}
.items input[type="checkbox"]:disabled:checked {
  border-radius: 2px;
  background-image: url(../img/checkbox-check-disabled.svg);
  background-position: center;
  border: solid 1px #cbcfd8;
}
.items input[type="checkbox"]:checked {
  background-image: url(../img/checkbox-check.svg);
}

.switch {
  margin: 20px 0 0 24px;
}
.switch span {
  color: #4c515c;
  margin-left: 12px;
  margin-top: -1px;
}
.switch input[type="checkbox"]:checked {
  background-color: #8fc144;
}
.switch input[type="checkbox"] {
  position: relative;
  width: 32px;
  height: 20px;
  border: none;
  border-radius: 10px;
  background-color: #daddd6;
  transition: 0.5s ease-in;
  cursor: pointer;
}
.switch input[type="checkbox"]::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #fff;
  transition: 0.7s ease-in;
}
.switch input[type="checkbox"]:checked::before {
  left: auto;
  right: 2px;
  transition: 0.5s ease-in;
}

.btn-save {
  color: #fff;
  background-color: #8fc144;
  border: none;
  width: 175px;
  height: 32px;
  border-radius: 4px;
  margin: 32px 0px 48px 24px;
}

@media (max-width: 970px) {
  nav {
    display: none;
  }
  h1 {
    margin-left: 10px;
  }
  .menu-burder {
    display: flex;
    flex-direction: column;
    gap: 5px;
    order: 3;
    position: absolute;
    right: 20px;
    border: none;
    background: transparent;
  }
  .menu-burder span {
    width: 20px;
    height: 2px;
    background-color: #fff;
  }
  .header__content {
    justify-content: flex-start;
  }
  .user {
    position: absolute;
    right: 50px;
  }
  .block-wrapper {
    margin: 0 10px 16px;
  }
  .container {
    margin: 0;
  }
}
@media (max-width: 480px) {
  .block-email {
    display: flex;
    flex-direction: column;
  }
  .block-email span {
    margin-bottom: 5px;
  }
  .form__format-input {
    font-size: 11px;
  }
}
